.Homepage{
    background: #000;
    height: 88vh;
    background-image: url(../../../assets//Images/Home.jpg);
    background-image: url(../../../assets//Images/sportsman-boxer-fighting-sport-concept.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 30%;
    background-size: cover;
    h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 100px;
        text-transform: uppercase;
        // background: gray;
        padding-top: 4rem;
        padding-left: 4rem;
        width: 55%;
        color: white;
        font-weight: 900;
        span{
            color: red;
        }
    }
}

// media quries 
    @media screen and (min-width:476px) and (max-width:662px) {   
.Homepage{
    h1{
        font-size: 56px;
        padding-left: 2rem;
        width: 59%;
    }
}}
    @media screen and (max-width:476px) {   
.Homepage{
    h1{
        font-size: 25px;
        padding-left: 1rem;    
        width: 59%;
    }
}}